<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' https://*.gstatic.com http://*.colourlovers.com 'unsafe-inline' 'unsafe-eval' data: gap: https://ssl.gstatic.com; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <link rel="stylesheet" type="text/css" href="css/main.min.css">

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/mustache.min.js"></script>

    <title>ColourLovers</title>
</head>
<body>

<h1>ColourLovers.<b> Live.</b></h1>
<h4 id="last_update">Loading...</h4>
<div class="grid" id='infinite-list'>
</div>
<script src="js/app.min.js"></script>

</body>
</html>