<div class="item lg-4">
    <ul>
        <li style="background-color: #{{colors.0}}"></li>
        <li style="background-color: #{{colors.1}}"></li>
        <li style="background-color: #{{colors.2}}"></li>
        <li style="background-color: #{{colors.3}}"></li>
        <li style="background-color: #{{colors.4}}"></li>
    </ul>
    <div class="title">{{title}}</div>
    <div class="desc">by {{userName}} at {{timeCreated}}</div>
    <div class="button"><span>{{numViews}} views</span><span>{{numVotes}} votes</span></div>
</div>
